@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Noto+Sans&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.app {
  margin: auto;
  overflow-x: hidden;
}

/* Custom styles for the Navbar links */
.nav-link {
  color: white;
  text-decoration: none;
  position: relative;
  padding-bottom: 8px; /* Add some padding at the bottom to space out the underline */
}

.nav-link:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px; /* Set the height to 2px to make the underline 2px thick */
  background-color: white; /* Set the color of the underline to white */
  visibility: hidden; /* Hide the underline by default */
  transform: scaleX(0); /* Scale the underline to 0 width initially */
  transition: transform 0.3s ease; /* Add a smooth transition effect for the underline */
}

.nav-link:hover:before {
  visibility: visible; /* Make the underline visible on hover */
  transform: scaleX(1); /* Scale the underline to full width on hover */
}